// Items and Item
.list-items{
    margin-top: 30px;
    margin-bottom: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.card{
    // border:1px solid lime;
    position:relative;
    border-radius:5px;
    box-shadow: -1px 2px 5px 1px black;
    margin:10px;
    padding: 13px;
    width: 120px;
    height: 190px;
    .cart-add{
        position: absolute;
        top: 2px;
        right: 5px;
        
    }
    .card-title{
        margin-top:10px;
        h2{
            margin:5px 0;
            font-size: 15px;
        }
        img{
            display: block;
            // border:1px solid black;
            margin: 5px auto;
            width:70px;
            height: 70px;
        }
    }
    .card-body{
        margin:5px auto 20px auto;
        .price{
            font-size: 14px;

        }
        .rating{
            margin: 4px;
            color:#efb810;
        }
        .btn-show{
            color:black;
            width: 80%;
            margin: auto;
        }

    }
}

@media screen and(max-width:365px){
.card{
    width: 80%;
    height: 275px;
    .card-title{
       img{
        width: 150px;
        height: 150px;
        } 
    }
    .card-body{
        .rating{
            font-size: 1.3rem;
        }
    }
}
}