*{
    box-sizing: border-box;
    margin:0;
    padding:0; 
    text-decoration:none;
    list-style: none;
}
#root{
    font-size: 62.5%;
}
.btn{
outline:0;
font-size: 0.6rem;
font-weight: 700;
display: block;
padding: 10px;
border-radius:10px;
text-align: center;
transition: 200ms all;
    &:hover{
        background:#434343;
        color:white;
    }
}
.btn-small{
    color:black;
    width: 100px;
}
.Footer{
    font-size: 0.9rem;
    position:fixed;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    background-color: #434343;
    color: white;
    line-height: 30px;
    height: 30px;
    a{
        color:white;
    }

}
@import './styles/navBar.scss';
@import './styles/Items.scss';
@import './styles/Carousel.scss';




